# Application Name & Config
spring:
    application:
      name: Project 1 - Store
    config:
      import: optional:file:.env[.properties]

    # MySQL Connection
    datasource:
        url: ${DB_URL} # Replace With YOUR_DB_URL
        username: ${DB_USERNAME} # Replace With YOUR_DB_USERNAME
        password: ${DB_PASSWORD} # Replace With YOUR_DB_PASSWORD

        # HikariCP
        hikari:
            pool-name: HikariCP
            maximum-pool-size: 15
            minimum-idle: 5
            idle-timeout: 30000
            max-lifetime: 1800000
            connection-timeout: 30000
            validation-timeout: 5000
            leak-detection-threshold: 2000

    # Hibernate / JPA
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: false
        properties:
            hibernate:
              format_sql: true

    # Flyway Database Migration
    flyway:
        enabled: true
        locations: classpath:db/migration
        baseline-on-migrate: true

# Logging
logging:
    level:
        org.hibernate.SQL: DEBUG

# OpenAPI
springdoc:
    swagger-ui:
        operationsSorter: method

